<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913598491540-n3rsse9u4oipfrufiv15tuj424ikh5oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913598491540-n3rsse9u4oipfrufiv15tuj424ikh5oo</string>
	<key>API_KEY</key>
	<string>AIzaSyBytOn7PREVpITxTWN4Z3t0W_eE0ssjKDc</string>
	<key>GCM_SENDER_ID</key>
	<string>913598491540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pardn-Ltd</string>
	<key>PROJECT_ID</key>
	<string>pardnltd-firebase-messager</string>
	<key>STORAGE_BUCKET</key>
	<string>pardnltd-firebase-messager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913598491540:ios:fac01d92fbeb726584fd81</string>
	<key>DATABASE_URL</key>
	<string>https://pardnltd-firebase-messager-default-rtdb.firebaseio.com</string>
</dict>
</plist>